<script src='https://kit.fontawesome.com/53a32fbcec.js' crossorigin='anonymous'></script>
<img src='../images/logo-gold.png' id='imgHeader'>
<div class='footerColumn'>
    <h3>Contatos</h3>
    <div class='rowDiv'>
        <i class='fas fa-phone'></i>
        (XX) XXXXX-XXXX<br>
    </div>
    <div class='rowDiv'>
        <i class='fa-brands fa-whatsapp'></i>
        (XX) XXXXX-XXXX<br>
    </div>
    <div class='rowDiv'>
        <i class='fas fa-envelope'></i>
        seuemail@dominio.com<br>
    </div>
    <div class='rowDiv'>
        <i class='fas fa-location-dot'></i>
        Seu endereço<br>
    </div>
    <div class='rowDiv'>
        <i class='fas fa-user-shield'></i>
        Política de Privacidade<br>
    </div>
    <div class='rowDiv'>
        <i class='fas fa-file-signature'></i>
        Termos e Condições<br>
    </div>
</div>
<div class='footerColumnRight'>
    <h3>Menu Rápido</h3>
    <a href='../massagem/massagem.html'>Tratamentos - Massagens</a>
    <a href='../rosto/rosto.html'>Tratamentos - Rosto</a>
    <a href='../corpo/corpo.html'>Tratamentos - Corpo</a>
    <a href='../formacao/formacao.html'>Formações</a>
    <a href='../belovedEquipamentos/belovedEquipamentos.html'>Sobre Nós</a>
    <a id='faleNoWhats'>Fale Conosco</a>
</div>
