        <nav>
            <img src='../images/logo-gold.png' id='imgHeader' alt='Logo Gold'>
            <div class='menu-toggle' onclick='toggleMenu()'>
                <div class='barra'></div>
                <div class='barraGold'></div>
                <div class='barra'></div>
                <div class='barraGold'></div>
                <div class='barra'></div>
            </div>
            <menu id='menu-pc'>
                <ul><a href='../index.html'><strong>HOME</strong></a></ul>
                <ul><a href='../corpo/corpo.html'><strong>CORPO</strong></a></ul>
                <ul><a href='../massagem/massagem.html'><strong>MASSAGEM</strong></a></ul>
                <ul><a href='../rosto/rosto.html'><strong>ROSTO</strong></a></ul>
                <ul><a href='../clube/clube.html'><strong>CLUBE</strong></a></ul>
                <ul><a href='../formacao/formacao.html'><strong>FORMAÇÃO</strong></a></ul>
                <ul><a href='../vlog/vlog.html'><strong>VLOG</strong></a></ul>
                <ul><a href='../belovedEquipamentos/belovedEquipamentos.html'><strong>BELOVED EQUIPAMENTOS</strong></a></ul>
                <ul class='header--ul' onmouseover='mouseOver()' onmouseout='mouseOut()' id='whatsList'>
                    <a id='faleNoWhats'>
                        <img id='whatsLogo' src='../images/whatsapp-gold3.png'>
                        <strong id='fale'>FALE CONOSCO</strong>
                    </a>
                </ul>
            </menu>
            <menu id='menu-mobile'>
                <div class='menu-list'>
                    <li><a href='../index.html'><strong>HOME</strong></a></li>
                    <li><a href='../corpo/corpo.html'><strong>CORPO</strong></a></li>
                    <li><a href='../massagem/massagem.html'><strong>MASSAGEM</strong></a></li>
                    <li><a href='../rosto/rosto.html'><strong>ROSTO</strong></a></li>
                    <li><a href='../clube/clube.html'><strong>CLUBE</strong></a></li>
                    <li><a href='../formacao/formacao.html'><strong>FORMAÇÃO</strong></a></li>
                    <li><a href='../vlog/vlog.html'><strong>VLOG</strong></a></li>
                    <li><a href='../belovedEquipamentos/belovedEquipamentos.html'><strong>BELOVED EQUIPAMENTOS</strong></a></li>
                    <li id='whatsListCel'>
                        <a id='faleNoWhats'>
                            <img id='whatsLogo' src='../images/whatsapp-gold3.png'>
                            <strong id='fale'>FALE CONOSCO</strong>
                        </a>
                    </li>
                </div>
            </menu>
        </nav>